*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
}
[class*="col-"] {
    float: left;

  }
  

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;

  }
  .row{
    width: 100%;
    float: left;
  }
  
  
.container{
  width: 90%;
  margin: auto;
}
.navigasion{
  background:#87509c;
  padding: 20px;
}
.btn{
  background: #eb7d4b;
}



#sarvice{
  background:#17c2a4;
  padding: 20px;
}
#Team{
  background: #e7f1f8;
}
#skills{
 background: #ffffff;
 padding: 20px;
}
#portfolio{
  background: #ffdd99;
  padding: 20px;
}
.btn2{
background: #17c2a4;
}
#poeple{
  background: #d74680;
  padding: 20px;
}
#touch{
background: #3c5499;
padding: 20px;
}
.submit{
  background: #30bae7;
}
#footer{
  background: #344b8e;
  padding: 20px;
}